html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(224, 207, 175);
    font-family: 'Work Sans', sans-serif;
  }

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top {
    background:  rgb(92, 17, 17);
    height: 100px;
    color: white;

    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.295) 0px 12px 10px -5px;
}

.user div {
    cursor: pointer;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 70px;
    width: auto;
    filter: invert(1);
}

#add-book img {
    height: 30px;
    width: auto;
    filter: invert(1);

}

#add-book {
    padding: 8px;
    border-radius: 15px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.user img {
    height: 25px;
    width: auto;
    filter: invert(1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.card {
    background-color: white;
    border-left: 10px solid rgb(214, 155, 46);
    border-radius: 8px;
    text-align: left;
    padding: 15px 35px 35px 20px;
    color: rgb(109, 109, 109);
    position: relative;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card * {
    margin: 0;
}

.card h3 {
    color: rgb(22, 10, 13);
}

#del-btn {
    display: inline;
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
}

.form-area {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.section {
    display: flex;
    flex-direction: row;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
}

button {
    padding: 14px 18px;
    background-color: rgb(76, 116, 143);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 25px 30px;
    transition: all 500ms ease;
}

button:active {
    background-color: rgb(124, 163, 189);
    transform: scale(0.90);
}

input {
    border: 1px solid rgb(158, 158, 158);
    border-radius: 6px;
    outline: none;
    padding: 5px 10px;
}

input:focus {
    box-shadow: 3px 3px #77777779;
}

input:invalid:not(:focus):not(:placeholder-shown) {
    box-shadow: none;
    border: 1px solid rgb(155, 15, 15);
}

select {
    padding: 10px 5px;
    border-radius: 6px;
}